<style type="text/css">
    @import "./modules/ordermgmt/js/dojox/grid/resources/claroGrid.css";
    #componenttable {
        width: inherit;
        height: 600px;
    }
    .claro .dojoxGridCell {
        padding: 0px 5px;
    }
</style>
<script type="text/javascript" src="./modules/ordermgmt/js/dojo/dojo.js" data-dojo-config="parseOnLoad: true, isDebug: true"></script>
<div id="editComponentDialog" title="Edit Component" data-dojo-type="">
    <table>
        <tr>
            <td><label for="componentEditNumber">Catalog #:</label></td>
            <td><input id="componentEditNumber" class="textbutton" title="Catalog Number"/></td>
            <td><label for="componentEditName">Part Name:</label></td>
            <td colspan="4"><input id="componentEditName" class="textbutton" title="Component Name"/></td>
        </tr>
        <tr>
            <td><label for="componentEditMaterial">Wet Material:</label></td>
            <td><input id="componentEditMaterial" class="textbutton" title="Material"/></td>
            <td><label for="componentEditBrand">Brand:</label></td>
            <td><input id="componentEditBrand" class="textbutton" title="Brand"/></td>
            <td><label for="componentEditSupplier">Supplier: </label></td>
            <td><input id="componentEditSupplier" class="textbutton" title="Supplier"/></td>
        </tr>
        <tr>
            <td><label for="componentEditPrice">Price:</label></td>
            <td><input id="componentEditPrice" class="currencybutton" /></td>
            <td><label for="componentEditCurrency">Currency:</label></td>
            <td><input id="componentEditCurrency" class="textbutton" title="NOK, USD, EUR etc."></td>
            <td><label for="componentEditDiscount">Discount:</label></td>
            <td><input id="componentEditDiscount" class="fracbutton"></td>
            <td><label for="componentEditRate">Exchange Rate:</label><img src="./modules/ordermgmt/images/money.png" alt="Get Rate" title="Get from OpenExchangeRates.org!" id="moneyfetch"/></td>
            <td><input id="componentEditRate" class="fracbutton"></td>
        </tr>
        <tr>
            <td><label for="componentEditNotes">Notes:</label></td>
            <td colspan="4"><input id="componentEditNotes" class="textbutton" title="Misc. notes" /></td>
            <td><button id="componentEditSubmit" class="submitbutton">Ok</button></td>
        </tr>
    </table>
</div>
<script type="text/javascript">

    require(['dijit/form/TextBox','dijit/form/Button', 'dijit/form/CurrencyTextBox', 'dojo/behavior', 'dijit/Dialog', 'dojo/io/script']);

    // Scripts that initialize dialogs
    var editDialog, newDialog;
    function initEditDialog() {
        dojo.behavior.add({
            '.textbutton': {
                found: function(box) {
                    new dijit.form.TextBox({
                        name: dojo.getAttr(box, 'id'),
                        placeholder: dojo.getAttr(box, 'title'),
                        title: dojo.getAttr(box, 'title')
                    }, dojo.getAttr(box, 'id'));
                }
            },
            '.currencybutton': {
                found: function(box) {
                    new dijit.form.CurrencyTextBox({
                        name: dojo.getAttr(box, 'id'),
                        value: 0.00,
                        currency: ' ',
                        title: dojo.getAttr(box, 'title')
                    }, dojo.getAttr(box, 'id'));
                }
            },
            '.fracbutton': {
                found: function(box) {
                    new dijit.form.NumberTextBox({
                        name: dojo.getAttr(box, 'id'),
                        value: Number(1.00)
                    }, dojo.getAttr(box, 'id'));
                }
            },
            '#componentEditSubmit': { // Since it is an ID expect one and register callback
                found: function(button) {
                    new dijit.form.Button({
                        label: "Save",
                        onClick: function() {

                            // Set up and perform XHR request
                            var xhrParam = {
                                url: "?m=ordermgmt&suppressHeaders=true&a=cedit&op=edit",
                                handleAs: 'json',
                                preventCache: true,
                                content: {
                                    componentNumber: dijit.byId("componentEditNumber").get('value'),
                                    componentName: dijit.byId("componentEditName").get('value'),
                                    componentMaterial: dijit.byId("componentEditMaterial").get('value'),
                                    componentBrand: dijit.byId("componentEditBrand").get('value'),
                                    componentSupplier: dijit.byId("componentEditSupplier").get('value'),
                                    componentPrice: dijit.byId("componentEditPrice").get('value'),
                                    componentCurrency: dijit.byId("componentEditCurrency").get('value'),
                                    componentDiscount: dijit.byId("componentEditDiscount").get('value'),
                                    componentRate: dijit.byId("componentEditRate").get('value'),
                                    componentNotes: dijit.byId("componentEditNotes").get('value'),
                                    componentId: dijit.byId("componentEditSubmit").get('value')
                                },
                                error: function(error) {
                                    editDialog.hide();
                                    alert("Failed to store data! Server said: " + error);
                                },
                                load: function(data) {
                                    editDialog.hide();
                                    window.location.href = window.location.href;
                                }
                            }

                            // Preform the XHR to send data to the server
                            dojo.xhrPost(xhrParam);
                        }
                    }, dojo.getAttr(button, 'id'));
                }
            },
            '#componentNewButton': {
                found: function(button) {
                    new dijit.form.Button({
                        label: "New Component",
                        onClick: openNewDialog
                    }, dojo.getAttr(button, 'id'));
                }
            }
        });

        // Apply behavior
        dojo.behavior.apply();

        // Init dialog
        var dialogContent = dojo.byId('editComponentDialog');
        editDialog = new dijit.Dialog({
            title: dojo.getAttr(dialogContent, 'title'),
            content: dialogContent,
            style: "width:1024px;"
        });

        // Connect additional event handlers
        dojo.connect(dojo.byId("moneyfetch"), "onclick", fetchExchangeRate);
    }

    // Populate the dialog with values from the row that was selected
    function openEditDialog(item) {
        var row = grid.getItem(item);
        var id = row["component_id"];
        dijit.byId("componentEditNumber").set('value', row["catalog_number"]);
        dijit.byId("componentEditName").set('value', row["description"]);
        dijit.byId("componentEditMaterial").set('value', row["wet_material"]);
        dijit.byId("componentEditBrand").set('value', row["brand"]);
        dijit.byId("componentEditSupplier").set('value', row["supplier"]);
        dijit.byId("componentEditPrice").set('value', row["vendor_price"]);
        dijit.byId("componentEditCurrency").set('value', row["vendor_currency"]);
        dijit.byId("componentEditDiscount").set('value', row["discount"]);
        dijit.byId("componentEditNotes").set('value', row["notes"]);
        dijit.byId("componentEditRate").set('value', row["exchange_rate"]);
        dijit.byId("componentEditSubmit").set('value', row["component_id"]);
        editDialog.set('title', "Editing item #" + id);
        editDialog.show();
    }

    // Clear the dialog and set the id to new to signal new component
    function openNewDialog() {
        dijit.byId("componentEditNumber").set('value', '');
        dijit.byId("componentEditName").set('value', '');
        dijit.byId("componentEditMaterial").set('value', '');
        dijit.byId("componentEditBrand").set('value', '');
        dijit.byId("componentEditSupplier").set('value', '');
        dijit.byId("componentEditPrice").set('value', '');
        dijit.byId("componentEditCurrency").set('value', '');
        dijit.byId("componentEditDiscount").set('value', '');
        dijit.byId("componentEditNotes").set('value', '');
        dijit.byId("componentEditRate").set('value', '');
        dijit.byId("componentEditSubmit").set('value', '0');
        editDialog.set('title', "New component");
        editDialog.show();
    }

    function removeItem(item) {
        var row = grid.getItem(item);
        var id = row['component_id'];

        // Confirm removal of item!
        if(!confirm("Are you sure you want to remove item #" + id)) return false;

        // Set up and perform XHR request
        var xhrParam = {
            url: "?m=ordermgmt&suppressHeaders=true&a=cedit&op=remove",
            handleAs: 'json',
            preventCache: true,
            content: {
                componentId: id
            },
            error: function(error) {
                alert("Failed to remove data! Server said: " + error);
            },
            load: function(data) {
                window.location.href = window.location.href;
            }
        }
        dojo.xhrPost(xhrParam);
    }

    function fetchExchangeRate() {
        var xhrParam = {
            url: "http://openexchangerates.org/latest.json?callback=handleRates"
        }
        dojo.io.script.get(xhrParam);
    }

    function handleRates(data) {

        // Base on openexchangerates.org is USD, change to NOK
        var localCurr = "NOK";
        var base = data.rates[localCurr];

        // Fetch currency from field
        var curr = dijit.byId("componentEditCurrency").get('value');
        var rate = data.rates[curr];
        if(rate == undefined) return 0; // Unknown rate!
        else {
            dijit.byId("componentEditRate").set('value', base/rate);
        }
    }

    var grid, dataStore;
    require(["dojox/grid/DataGrid", "dojo/store/Memory","dojo/data/ObjectStore", "dojo/_base/xhr", "dojo/domReady!"],
            function(DataGrid, Memory, ObjectStore, xhr) {

                function createOptions(item, index) {

                    return "<button onclick=\"openEditDialog(" + index + ")\"><img src=\"./modules/ordermgmt/images/cog_edit.png\" title=\"Edit Component\" alt=\"Edit Component\"/></button>" +
                           "<button onclick=\"removeItem(" + index + ")\"><img src=\"./modules/ordermgmt/images/cog_delete.png\" title=\"Remove Component\" alt=\"Remove Component\" /></button>";
                }

                function currencyFormatter(item) {
                    return parseFloat(item).toFixed(2) + " NOK";
                }

                xhr.get({
                    url: "?m=ordermgmt&a=cedit&op=get&suppressHeaders=true",
                    handleAs: "json"
                }).then(function(data) {
                        dataStore = new ObjectStore({objectStore: new Memory({data: data.items})});

                        grid = new DataGrid({
                            store: dataStore,
                            query: {id: "*"},
                            queryOptions: {},
                            sortInfo: -8,
                            structure: [
                                {name: "Options", field: "component_id", width: "3%", formatter: createOptions},
                                {name: "Catalog Number", field: "catalog_number", width: "5%"},
                                {name: "Part Name", field: "description", width: "15%"},
                                {name: "Wet Material", field: "wet_material", width: "3%"},
                                {name: "Brand", field: "brand", width: "5%"},
                                {name: "Supplier", field: "supplier", width: "7%"},
                                {name: "Price (NOK)", field: "local_price", width: "3%", formatter: currencyFormatter},
                                {name: "Updated", field: "quote_date", width: "4%"}
                            ]
                        }, "componenttable");
                        grid.startup();
                    });
            }
    );

    dojo.ready(function() {
        initEditDialog();
    });

</script>
        <button id="componentNewButton">
            New Component
        </button>
        <div id="componentContainer">
            <div id="componenttable">
            </div>
        </div>