<style type="text/css">
    @import "./modules/ordermgmt/js/dojox/grid/resources/claroGrid.css";
    #componenttable {
        width: inherit;
        height: 600px;
    }
</style>
<script type="text/javascript" src="./modules/ordermgmt/js/dojo/dojo.js" data-dojo-config="parseOnLoad: true, isDebug: true"></script>
<div id="editComponentDialog" title="Edit Component" data-dojo-type="">
    <table>
        <tr>
            <td><label for="componentEditNumber">Catalog #:</label></td>
            <td><input id="componentEditNumber" class="textbutton" title="Catalog Number"/></td>
            <td><label for="componentEditName">Part Name:</label></td>
            <td colspan="4"><input id="componentEditName" class="textbutton" title="Component Name"/></td>
        </tr>
        <tr>
            <td><label for="componentEditMaterial">Wet Material:</label></td>
            <td><input id="componentEditMaterial" class="textbutton" title="Material"/></td>
            <td><label for="componentEditBrand">Brand:</label></td>
            <td><input id="componentEditBrand" class="textbutton" title="Brand"/></td>
            <td><label for="componentEditSupplier">Supplier: </label></td>
            <td><input id="componentEditSupplier" class="textbutton" title="Supplier"/></td>
            <td><button id="componentEditSubmit" class="submitbutton">Ok</button></td>
        </tr>
    </table>
</div>
<script type="text/javascript">

    require(['dijit/form/TextBox','dijit/form/Button', 'dojo/behavior', 'dijit/Dialog']);

    // Scripts that initialize dialogs
    var editDialog, newDialog;
    function initEditDialog() {
        dojo.behavior.add({
            '.textbutton': {
                found: function(box) {
                    new dijit.form.TextBox({
                        name: dojo.getAttr(box, 'id'),
                        placeholder: dojo.getAttr(box, 'title'),
                        title: dojo.getAttr(box, 'title')
                    }, dojo.getAttr(box, 'id'));
                }
            },
            '#componentEditSubmit': { // Since it is an ID expect one and register callback
                found: function(button) {
                    new dijit.form.Button({
                        label: "Save",
                        onClick: function() {
                            alert("Submit data here!");
                        }
                    }, dojo.getAttr(button, 'id'));
                }
            },
            '#componentNewButton': {
                found: function(button) {
                    new dijit.form.Button({
                        label: "New Component",
                        onClick: openNewDialog
                    }, dojo.getAttr(button, 'id'));
                }
            }
        });

        // Apply behavior
        dojo.behavior.apply();

        // Init dialog
        var dialogContent = dojo.byId('editComponentDialog');
        editDialog = new dijit.Dialog({
            title: dojo.getAttr(dialogContent, 'title'),
            content: dialogContent,
            style: "width:1024px;"
        });
    }

    // Populate the dialog with values from the row that was selected
    function openEditDialog(item) {
        var row = grid.getItem(item);
        var id = row["component_id"];
        dijit.byId("componentEditNumber").set('value', row["catalog_number"]);
        dijit.byId("componentEditName").set('value', row["description"]);
        dijit.byId("componentEditMaterial").set('value', row["wet_material"]);
        dijit.byId("componentEditBrand").set('value', row["brand"]);
        dijit.byId("componentEditSupplier").set('value', row["supplier"]);
        dijit.byId("componentEditSubmit").set('value', row["component_id"]);
        editDialog.attr('title', "Editing item #" + id);
        editDialog.show();
    }

    // Clear the dialog and set the id to new to signal new component
    function openNewDialog() {
        dijit.byId("componentEditNumber").set('value', '');
        dijit.byId("componentEditName").set('value', '');
        dijit.byId("componentEditMaterial").set('value', '');
        dijit.byId("componentEditBrand").set('value', '');
        dijit.byId("componentEditSupplier").set('value', '');
        dijit.byId("componentEditSubmit").set('value', '');
        editDialog.attr('title', "New component");
        editDialog.show();
    }

    var grid, dataStore;
    require(["dojox/grid/DataGrid", "dojo/store/Memory","dojo/data/ObjectStore", "dojo/_base/xhr", "dojo/domReady!"],
            function(DataGrid, Memory, ObjectStore, xhr) {

                function createOptions(item, index) {

                    return "<button onclick=\"openEditDialog(" + index + ")\"><img src=\"./modules/ordermgmt/images/cog_edit.png\" title=\"Edit Component\" alt=\"Edit Component\"/></button>" +
                           "<button onclick=\"confirm(\"Are you sure you want to delete this item?\")\"><img src=\"./modules/ordermgmt/images/cog_delete.png\" title=\"Remove Component\" alt=\"Remove Component\" /></button>";
                }

                xhr.get({
                    url: "?m=ordermgmt&a=cedit&field=get&suppressHeaders=true",
                    handleAs: "json"
                }).then(function(data) {
                        dataStore = new ObjectStore({objectStore: new Memory({data: data.items})});

                        grid = new DataGrid({
                            store: dataStore,
                            query: {id: "*"},
                            queryOptions: {},
                            structure: [
                                {name: "Catalog Number", field: "catalog_number", width: "5%"},
                                {name: "Part Name", field: "description", width: "15%"},
                                {name: "Wet Material", field: "wet_material", width: "3%"},
                                {name: "Brand", field: "brand", width: "5%"},
                                {name: "Supplier", field: "supplier", width: "7%"},
                                {name: "Options", field: "component_id", width: "2%", formatter: createOptions}
                            ]
                        }, "componenttable");
                        grid.startup();
                    });
            }
    );

    dojo.ready(function() {
        initEditDialog();
    });

</script>
        <button id="componentNewButton">
            New Component
        </button>
        <div id="componentContainer">
            <div id="componenttable">
            </div>
        </div>