<script type="text/javascript" src="./modules/ordermgmt/js/dojo/dojo.js" data-dojo-config="parseOnLoad: true, isDebug: true"></script>
<script type="text/javascript">
    dojo.require("dijit.form.DateTextBox")
    dojo.ready(function(){
        // Set body class to get styling right
        dojo.addClass(dojo.query("body")[0], "claro");
        dojo.place("<link type=\"text/css\" rel=\"stylesheet\" href=\"./modules/ordermgmt/js/dijit/themes/claro/claro.css\" />", dojo.query('head')[0], "last");
    });
</script>
<div id="formContainer">
    <form id="orderForm" action="?m=ordermgmt&addDelivery=[orderId]" method="POST" accept-charset="utf-8">
        <table id="deliveryFormTable">
            <tr>
                <th><label for="companySelect">Delivering Company:</label></th>
                <th>Expected from:</th>
                <th>Overdue after:</th>
            </tr>
            <tr>
                <td>
                    <select name="companySelect" id="companySelect">
                        <option value="[companies.company_id;block=option]">[companies.company_name;block=option]
                        </option>
                    </select>
                </td>
                <td>
                    <input id="startDate" name="startDate" placeholder="Start date..." data-dojo-type="dijit.form.DateTextBox"/>
                </td>
                <td>
                    <input id="endDate" name="endDate" placeholder="End date..." data-dojo-type="dijit.form.DateTextBox"/>
                </td>
            </tr>
        </table>
        <input type="hidden" name="orderId" value="[orderId]"/>
        <button type="submit" name="deliverySubmit" id="deliverySubmit" value="1"/>
        <img src="./modules/ordermgmt/images/accept.png" alt="New Delivery"/>New Delivery</button>
    </form>
</div>