<div id="orderFileFormContainer">
    <form id="orderFileForm" action="POST" enctype="multipart/form-data" autocomplete="off" action="?m=ordermgmt">
        
        <input type="hidden" name="dosql" value="do_order_file_aed" />
        <input type="hidden" name="order_id" value="[order.id]" />
        <input type="hidden" name="project_id" value="[order.project.project_id]" />
        <input type="hidden" name="company_id" value="[order.company.company_id]" />
        
        <label for="file_folder">Folder: </label>
        <select name="file_folder" id="file_folder">
            <option value="-1">root</option>
            <option value="[folders.file_folder_id;block=option]">[folders.file_folder_name;block=option]</option>
        </select> <br />
        
        <label for="file_version">Version: </label>
        <input type="number" name="file_version" id="file_version" value="1"/> <br />
        
        <label for="file_category">Category: </label>
        <select name="file_category" id="file_category">
            <option value="[categories.key;block=option]">[categories.val;block=option]</option>
        </select> <br />
        
               <label for="file_description">Description: </label>
        <textarea name="file_description" id="file_description"></textarea> <br />
        
        <label for="file_notify_owners">Notify associated people</label>
        <input name="file_notify_owners" id="file_notify_owners" value="1" type="checkbox" /> <br />
        
        <button type="submit">Submit</button>
    </form>
</div>
