<script type="text/javascript" src="./modules/ordermgmt/js/dojo/dojo.js" data-dojo-config="parseOnLoad: true, isDebug: true"></script>
<script type="text/javascript" src="./modules/ordermgmt/modules_delay.js"></script>
<script type="text/javascript">
    dojo.require("dijit.layout.ContentPane");
    dojo.require("dijit.layout.BorderContainer");
    dojo.require("w2porder.ComponentList")
</script>
<style type="text/css">
    #orderModuleDetailContainer {
        height: 800px;
        width: 1400px;
    }
    #orderModuleDetailContainer h1 {
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(237,242,247)), to(rgb(208, 223, 234)));
        border-bottom: white 1px solid;
        border-left: white 1px solid;
        border-top: white 1px solid;
        border-right: #333 0px solid;
        color: #333;
        font-weight: bold;
        margin: -8px;
        padding: 8px;
        display: block;
    }
    #orderModuleSummaryBar {
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(237,242,247)), to(rgb(208, 223, 234)));
        border-bottom: white 1px solid;
        border-left: white 1px solid;
        border-top: white 1px solid;
        border-right: #333 0px solid;
        color: #333;
        font-weight: bold;
        text-align: right;
    }
    #orderModuleDetailContainer hr {
        height: 1px;
        border: 0;
        background: black;
        background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(217, 232, 249,0)), to(rgba(217, 232, 249,0)), color-stop(33%, rgba(167, 172, 199, 255)), color-stop(66%, rgba(167, 172, 199, 255)));
    }
    #orderModuleDetailContainer ul {
        padding: 0;
        margin: 0;
        font-size: small;

        list-style-position: inside;
    }
    #orderModuleDetailContainer ul li {
        margin: 0px -8px;
        padding: 4px 24px;
        list-style: disc;
        -webkit-border-image: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(217, 232, 249,0)), to(rgba(217, 232, 249,0)), color-stop(33%, rgba(167, 172, 199, 0.3)), color-stop(66%, rgba(167, 172, 199, 0.3))) 0 0 100% 0 stretch stretch;
        border: white 1px solid;
    }
    #orderModuleDetailContainer ul li.selected {
        background: url("./modules/ordermgmt/images/bullet_go.png") no-repeat center left;
    }
    #orderModuleDetailContainer ul li:hover {
        background: url("./modules/ordermgmt/images/bullet_go.png") no-repeat center left, -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(247,252,255,1)), to(rgba(233, 243, 255,1)));
    }
    ul#orderModuleFileUl li {
        padding: 4px 12px;
    }
    .orderModuleFileDetails {
        color: #999;
    }
    #orderModuleComponentTable, #orderComponentEditList {
        width: 100%;
        padding: 0;
        margin: 0;
        border-collapse: collapse;
        border-spacing: 0;
    }
    .orderModuleComponentTable tr td {
        padding: 3px;
    }
    .orderModuleComponentTable tr td {
        border-bottom: 1px solid #EEEEFF;
    }
    .orderModuleCompHead {
        border-bottom: 2px solid silver;
    }
    .orderModuleComponentTable tr td.orderModuleCompFoot {
        border-top: 2px solid silver;
        border-bottom: 3px double silver;
    }
    #orderModuleDetailDescr {
        height: 80px;
    }
</style>
        <div id="orderModuleDialog" data-dojo-type="dijit.Dialog" style="width:600px" data-dojo-props="title: 'Add or edit module'">
            <table style="width: 100%">
                <input type="hidden" id="orderModuleIdIn" value="0" name="orderModuleIdIn" />
                <tr>
                    <td>Module name :<input id="orderModuleNameIn" type="text" class="dojoTextInput" title="Moule name"/></td>
                    <td>Est. build time (h): <input id="orderModuleBuildIn" type="text" class="dojoTextInput" title="Time (h)" /></td>
                </tr>
                <tr><td colspan="2"><div id="orderModuleDescrIn" class="dojoTextEdit" title="Module description" /></td></tr>
                <tr><td colspan="2" style="text-align: right;"><button id="orderModuleAedSubmit">Send</button></td></tr>
            </table>
        </div>
        <div id="orderFileDialog"  style="width: 600px" data-dojo-type="dijit.Dialog" data-dojo-props="title: 'Add file'">
            <form method="post" action="?m=ordermgmt&a=modules" id="orderFileForm" enctype="multipart/form-data">
                <fieldset>
                    <legend>Upload new file</legend>
                    <input class="dojoFileUploader" multiple="false" type="file" id="orderModuleFileIn" name="orderModuleFileIn"/>
                    <input class="dojoTextInput" id="orderModuleFileDescr" title="File description" />
                    <button class="dojoButton" id="orderModuleSubmitBtn" title="Submit">Submit</button>
                    <input type="hidden" name="orderModuleId" id="orderModuleId" value="0" />
                    <input type="hidden" name="dosql" value="do_moduleAddfile" />
                </fieldset>
            </form>
        </div>
        <div id="orderModuleComponentEdit" style="width: 1024px" data-dojo-type="dijit.Dialog" data-dojo-props="title: 'Modify components'">
            <table id="orderComponentEditList">
                <tr class="tableHeader">
                    <th width="5%" class="orderModuleCompHead"></th>
                    <th width="5%" class="orderModuleCompHead">Amount</th>
                    <th width="15%" class="orderModuleCompHead">Catalog #</th>
                    <th width="75%" class="orderModuleCompHead">Description</th>
                </tr>
            </table>
            <div id="orderComponentControls">
                <input type="text" class="dojoTextInput" id="orderComponentAmount" title="Amount"/>
                <div id="orderComponentSelect"></div>
                <button class="dojoButton" id="orderComponentAddBtn" title="Add component">Add</button>
            </div>
            <div id="orderComponentDoneControls" style="text-align: right">
                <button class="dojoButton" id="orderComponentCancelBtn" title="Discard all work and close">Cancel</button>
                <button class="dojoButton" id="orderComponentDoneBtn" title="Save and close">Done</button>
            </div>
        </div>
<div id="orderModuleDetailContainer" data-dojo-type="dijit.layout.BorderContainer" data-dojo-props="design:'sidebar',gutters:true">
    <div id="orderModuleList" data-dojo-type="dijit.layout.ContentPane" data-dojo-props="region:'leading'" style="width: 250px">
        <h1>
            Module List
            <img src="./modules/ordermgmt/images/add.png" alt="Add module" title="Add module" id="orderModuleAddBtn"/>
        </h1>
        <hr />
        <ul >
            <li>[modules; block=li;nodata]Could not find any modules</li>
            <li data-rss-module_id="[modules.id; block=li]">[modules.name]</li>
        </ul>
    </div>
    <div id="orderModuleSummary" data-dojo-type="dijit.layout.ContentPane" data-dojo-props="region:'top'" style="height: 250px">
        <h1>
            Details
            <img src="./modules/ordermgmt/images/cog_edit.png" alt="Edit module" title="Edit module" id="orderModuleEditBtn"/>
            <img src="./modules/ordermgmt/images/delete.png" alt="Delete module" title="Delete module" id="orderModuleDeleteBtn" style="float: right; margin: 0px 10px"/>
            <img src="./modules/ordermgmt/images/page_white_excel.png" alt="Export to Excel" title="Export to excel" id="orderModuleExportExcelBtn" style="float: right" />
        </h1>
        <hr />
        <h2 id="orderModuleDetailName">None selected</h2>
        <div id="orderModuleOverview">
            <div id="orderModuleDetailDescr">
                Please select a module in the list to the left...
            </div>
            <hr />
            <strong>Build Price: </strong> <span class="orderModuleDetailPrice">N/A</span>
            <strong>Delivered: </strong> <span id="orderModuleDetailDelivered">N/A</span>
            <strong>Est. build time: </strong> <span id="orderModuleDetailBuild">N/A</span> hours
            <hr />
        </div>
    </div>
    <div id="orderModuleFileList" data-dojo-type="dijit.layout.ContentPane" data-dojo-props="region:'top'" style="height: 150px">
        <h1>
            Files
            <img src="./modules/ordermgmt/images/add.png" alt="Add file" title="Add file" id="orderModuleFileAddBtn"/>
        </h1>
        <hr />
        <ul id="orderModuleFileUl">
            <li><span style="color: silver">No Module selected</span></li>
        </ul>
    </div>
    <div id="orderModuleComponentList" data-dojo-type="dijit.layout.ContentPane" data-dojo-props="region:'center'">
        <h1>
            Components
            <img src="./modules/ordermgmt/images/cog_edit.png" alt="Add components" title="Edit components" id="orderComponentEditBtn"/>
        </h1>
        <hr />
        <table data-dojo-type="w2porder.ComponentList" id="orderModuleComponentTable">
        </table>
    </div>
    <div id="orderModuleSummaryBar" data-dojo-type="dijit.layout.ContentPane" data-dojo-props="region:'bottom'">
        <div id="orderModuleTotalPrice"><strong>Total costs: <span class="orderModuleDetailPrice">N/A NOK</span></strong></div>
    </div>
</div>