<script type="text/javascript" src="./modules/ordermgmt/js/dojo/dojo.js" data-dojo-config="parseOnLoad: true, isDebug: true"></script>
<script type="text/javascript">
    require(["dojo/ready", "dojo/_base/xhr", "dijit/form/FilteringSelect", "dijit/form/DateTextBox", "dijit/form/Button", "dijit/editor", "w2porder/CContactStore", "w2porder/CProjectStore", "w2porder/CCompanyStore", "w2porder/ModuleSelect"],
            function(ready, xhr, FilteringSelect, DateTextBox, Button, TextEditor, CContactStore, CProjectStore, CCompanyStore, ModuleSelect){
                ready(function(){

                    // Set body class to get styling right
                    dojo.addClass(dojo.query("body")[0], "claro");
                    dojo.place("<link type=\"text/css\" rel=\"stylesheet\" href=\"./modules/ordermgmt/js/dijit/themes/claro/claro.css\" />", dojo.query('head')[0], "last");

                    var contactStore = new CContactStore();
                    var companyStore = new CCompanyStore();
                    var projectStore = new CProjectStore();
                    new FilteringSelect({
                        id: "offerProject",
                        name: "offerProject",
                        store: projectStore,
                        searchAttr: "display"
                    }, "offerProject");

                    new FilteringSelect({
                        id: "offeredBy",
                        name: "offeredBy",
                        store: companyStore,
                        searchAttr: "display"
                    }, "offeredBy");

                    new FilteringSelect({
                        id: "offeredTo",
                        name: "offeredTo",
                        store: companyStore,
                        searchAttr: "display"
                    }, "offeredTo");

                    new FilteringSelect({
                        id: "offerOwner",
                        name: "offerOwner",
                        store: contactStore,
                        searchAttr: "display"
                    }, "offerOwner");

                    new FilteringSelect({
                        id: "offerContact",
                        name: "offerContact",
                        store: contactStore,
                        searchAttr: "display"
                    }, "offerContact");

                    new dijit.Editor({
                        height: "200px",
                        placeholder: "Additional offer notes..."
                    }, dojo.byId("offerNotes"));

                    new DateTextBox({
                        id: "estDeliveryDate",
                        name: "estDeliveryDate"
                    }, "estDeliveryDate");

                    new ModuleSelect({

                    }, "offerModuleList");

                    new Button({
                        onClick: saveOffer
                    }, "offerFormSubmit");
                });
            function saveOffer() {
                var xhrParam = {
                    url: "?m=ordermgmt&a=cedit&suppressHeaders=true",
                    handleAs: "text",
                    sync: false,
                    content: {
                        "dosql": "do_offer_aed",
                        "offerId": -1,
                        "estDeliveryDate": dojo.date.locale.format(dijit.byId("estDeliveryDate").get("value"), {datePattern: "yyyy-MM-dd", selector:"date"}),
                        "projectId": dijit.byId("offerProject").get("value"),
                        "offeredBy": dijit.byId("offeredBy").get("value"),
                        "offeredTo": dijit.byId("offeredTo").get("value"),
                        "offerOwner": dijit.byId("offerOwner").get("value"),
                        "offerContact": dijit.byId("offerContact").get("value"),
                        "offerNotes": dijit.byId("offerNotes").get("value"),
                        "offerAmounts": dojo.toJson(dijit.byId("offerModuleList").amounts),
                        "offerModules": dojo.toJson(dijit.byId("offerModuleList").modules)
                    },
                    error: function(crap) {
                        alert(crap.message);
                    },
                    load: function(data) {
                        alert("Something wonderfull happened! " + data);
                    }
                }
                dojo.xhrPost(xhrParam);
            }
            });
</script>
<style type="text/css">
    #orderFormTable h1, #orderFormTable h2, #orderFormTable h3 {
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(237,242,247)), to(rgb(208, 223, 234)));
        border-bottom: white 1px solid;
        border-left: white 1px solid;
        border-top: white 1px solid;
        border-right: #333 0px solid;
        color: #333;
        font-weight: bold;
        margin: 0px;
        padding: 8px;
        display: block;
        width: 100%;
        box-sizing: border-box;
    }
    #orderFormTable {
        width: 100%;
        background: white;
    }
    #orderFormTable hr {
        height: 1px;
        border: 0;
        background: black;
        background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(217, 232, 249,0)), to(rgba(217, 232, 249,0)), color-stop(33%, rgba(167, 172, 199, 255)), color-stop(66%, rgba(167, 172, 199, 255)));
    }
</style>
<form id="offerForm" action="" method="post" autocomplete="off">
    <table id="orderFormTable">
        <tr><th colspan="4"><h2>New Offer :: [offerId]</h2></th></tr>
        <tr>
            <td><label for="estDeliveryDate">Estimated delivery: </label></td>
            <td><input type="date" name="estDeliveryDate" id="estDeliveryDate" /></td>
            <td><label for="offerProject">Project: </label></td>
            <td><input type="text" name="offerProject" id="offerProject" /></td>
        </tr>
        <tr>
            <td><label for="offeredBy">Offering company: </label></td>
            <td><input type="text" name="offeredBy" id="offeredBy" /></td>
            <td><label for="offeredTo">Receiving company:</label></td>
            <td><input type="text" name="offeredTo" id="offeredTo" /></td>
        </tr>
        <tr>
            <td><label for="offerOwner">Offer owner:</label></td>
            <td><input type="text" name="offerOwner" id="offerOwner" /></td>
            <td><label for="offerContact">Offer contact:</label></td>
            <td><input type="text" name="offerContact" id="offerContact" /></td>
        </tr>
        <tr>
            <td colspan="4"><div id="offerNotes" name="offerNotes"></div></td>
        </tr>
        <tr>
            <td colspan="4" class="divider"><hr /></td>
        </tr>
        <tr>
            <td colspan="4"><h2>Module Selection</h2></td>
        </tr>
        <tr>
            <td colspan="3"><div id="offerModuleList">Module list</div></td>
            <td><div id="offerFormSubmit">Save Offer</div></td>
        </tr>
    </table>
</form>