<script type="text/javascript" src="./modules/ordermgmt/js/dojo/dojo.js" data-dojo-config="parseOnLoad: true, isDebug: true"></script>
<style type="text/css">
    #offerContainer {
        width: 98%;
        margin: 0 auto 1em auto;
        background: white;
        padding: 0 8px;
    }
    #offerContainer ul {
        margin: 0;
        padding: 0;
        list-style-position: inside;
    }
    #offerContainer h1, #offerContainer h2, #offerContainer h3 {
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(237,242,247)), to(rgb(208, 223, 234)));
        border-bottom: white 1px solid;
        border-left: white 1px solid;
        border-top: white 1px solid;
        border-right: #333 0px solid;
        color: #333;
        font-weight: bold;
        margin: 0px -8px -8px -8px;
        padding: 8px;
        display: block;
    }
    #offerContainer h1, #offerContainer h2 {
        clear: both;
    }
    #offerContainer hr {
        height: 1px;
        border: 0;
        background: black;
        background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(217, 232, 249,0)), to(rgba(217, 232, 249,0)), color-stop(33%, rgba(167, 172, 199, 255)), color-stop(66%, rgba(167, 172, 199, 255)));
    }
    #offeringCompanyDetails, #receivingCompany {
        width: 48%;
        margin: 12px 4px;
        padding: 0 8px;
        border: 1px solid rgba(167, 172, 199, 1);
    }
    #offeringCompanyDetails {
        float: left;
    }
    #receivingCompany {
        float: right;
    }
    #offerSummaryTbl {
        width: 100%;
    }
    #offerSummaryTbl tr.summaryRow td {
        padding-top: 12px;
        color: #333;
        font-weight: bold;
        font-size: medium;
    }
    .modulePrice {
        float: right;
    }
    .offerFileDetails {
        color: #999;
    }
    #offerTotal {
        padding: 4px;
        background: -webkit-gradient(linear, 0 80%, 0 0, from(rgba(217, 232, 249,0.5)), to(rgba(217, 232, 249,0)));
        border-bottom: 3px double rgba(167,172,199,1);
    }
    ul#offerHistoryList li {
        padding: 2px 18px;
        margin: 0px 0px;
        list-style: none;
    }
    ul#offerHistoryList li.i1 {
        background: url("./modules/ordermgmt/images/bullet_red.png") left center no-repeat;
    }
    ul#offerHistoryList li.i2 {
        background: url("./modules/ordermgmt/images/bullet_orange.png") left center no-repeat;
    }
    ul#offerHistoryList li.i3 {
        background: url("./modules/ordermgmt/images/bullet_blue.png") left center no-repeat;
    }
    ul#offerComponentList, ul#offerModuleList {
        list-style: none;
    }
</style>
<div id="offerContainer">
    <div id="offerDetails">
        <h1>[offer.getFormattedId]</h1>
        <hr />
        <div id="offerSummary">
            <table id="offerSummaryTbl">
                <tr>
                    <td>Created:</td><td>[offer.created]</td>
                    <td>Project:</td><td><a href="">Example project</a></td>
                </tr>
                <tr>
                    <td>Delivery date:</td><td>[offer.targetDate]</td>
                    <td>Estimated work hours:</td><td>[offer.buildTime]</td>
                </tr>
                <tr>
                    <td>Notes:</td>
                    <td colspan="3">[offer.notes]</td>
                </tr>
                <tr class="summaryRow">
                    <td colspan="3"></td>
                    <td id="offerTotal">Est. total cost: [offer.totalCost] NOK</td>
                </tr>
            </table>
        </div>
        <div id="offeringCompanyDetails">
            <h3>From: [offer.offeredBy.company_name]</h3>
            <hr />
            [offer.offeredBy.company_address1]<br />
            [offer.offeredBy.company_address2]<br />
            [offer.offeredBy.company_zip] [offer.offeredBy.company_city]<br />
            <hr />
            <strong>Offer owner:</strong> <a href="mailto:[offer.owner.contact_email]">[offer.owner.contact_display_name]</a> [offer.owner.contact_phone]
            <hr />
        </div>
        <div id="receivingCompany">
            <h3>To: [offer.offeredTo.company_name]</h3>
            <hr />
            [offer.offeredTo.company_address1]<br />
            [offer.offeredTo.company_address2]<br />
            [offer.offeredTo.company_zip] [offer.offeredTo.company_city]<br />
            <hr />
            <strong>Company contact:</strong> <a href="mailto:[offer.contact.contact_email]">[offer.contact.contact_display_name]</a> [offer.contact.contact_phone]
            <hr />
        </div>
    </div>
    <div id="offerHistoryListContainer">
        <h2>History</h2>
        <hr />
        <ul id="offerHistoryList">
            <li class="i[history.importance; block=li]">[history.text; block=li] [<a href="mailto:[history.user.contact_email; block=li]">[history.user.contact_display_name; block=li]</a>]</li>
        </ul>
    </div>
    <div id="offerFileListContainer">
        <h2>Files</h2>
        <hr />
        <ul id="offerFileList">
            <li><a href="fileviewer.php?file_id=1">Contract (Jun. 2012) (application/pdf) <span class="offerFileDetails">Size: 158.54 Kb Changed: 27/08 - 2012</span></a></li>
        </ul>
    </div>
    <div id="offerModuleListContainer">
        <h2>Modules</h2>
        <hr />
        <ul id="offerModuleList">
            <li>[modules.amount; block=li]x [modules.name; block=li]<span class="modulePrice">([modules.amount; block=li]x[modules.totalPrice; block=li] NOK) [modules.totalCost; block=li] NOK</span></li>
        </ul>
    </div>
    <div id="offerComponentListContainer">
        <h2>Components</h2>
        <hr />
        <ul id="offerComponentList">
            <li>2x CB08996-598 Test-component</li>
        </ul>
    </div>
</div>