<script type="text/javascript" src="./modules/ordermgmt/js/dojo/dojo.js" data-dojo-config="parseOnLoad: true, isDebug: true"></script>
<script type="text/javascript">
require(["dojo/ready", "dijit/form/FilteringSelect", "dijit/form/DateTextBox", "dijit/editor", "w2porder/CContactStore", "w2porder/CProjectStore", "w2porder/CCompanyStore"],
function(ready, FilteringSelect, DateTextBox, TextEditor, CContactStore, CProjectStore, CCompanyStore){
    ready(function(){

        // Set body class to get styling right
        dojo.addClass(dojo.query("body")[0], "claro");
        dojo.place("<link type=\"text/css\" rel=\"stylesheet\" href=\"./modules/ordermgmt/js/dijit/themes/claro/claro.css\" />", dojo.query('head')[0], "last");

        var contactStore = new CContactStore();
        var companyStore = new CCompanyStore();
        var projectStore = new CProjectStore();
        new FilteringSelect({
            id: "offerProject",
            name: "offerProject",
            store: projectStore,
            searchAttr: "display"
        }, "offerProject");

        new FilteringSelect({
            id: "offeredBy",
            name: "offeredBy",
            store: companyStore,
            searchAttr: "display"
        }, "offeredBy");

        new FilteringSelect({
            id: "offeredTo",
            name: "offeredTo",
            store: companyStore,
            searchAttr: "display"
        }, "offeredTo");

        new FilteringSelect({
            id: "offerOwner",
            name: "offerOwner",
            store: contactStore,
            searchAttr: "display"
        }, "offerOwner");

        new FilteringSelect({
            id: "offerContact",
            name: "offerContact",
            store: contactStore,
            searchAttr: "display"
        }, "offerContact");

        new dijit.Editor({
            height: "200px",
            placeholder: "Additional offer notes..."
        }, dojo.byId("offerNotes"));

        new DateTextBox({
            id: "estDeliveryDate",
            name: "estDeliveryDate"
        }, "estDeliveryDate");
    });
});
</script>
<form id="offerForm" action="" method="post" autocomplete="off">
    <table id="orderFormTable">
        <tr><th>New Offer :: [offerId]</th></tr>
        <tr>
            <td><label for="estDeliveryDate">Estimated delivery: </label></td>
            <td><input type="date" name="estDeliveryDate" id="estDeliveryDate" /></td>
            <td><label for="offerProject">Project: </label></td>
            <td><input type="text" name="offerProject" id="offerProject" /></td>
        </tr>
        <tr>
            <td><label for="offeredBy">Offering company: </label></td>
            <td><input type="text" name="offeredBy" id="offeredBy" /></td>
            <td><label for="offeredTo">Receiving company:</label></td>
            <td><input type="text" name="offeredTo" id="offeredTo" /></td>
        </tr>
        <tr>
            <td><label for="offerOwner">Offer owner:</label></td>
            <td><input type="text" name="offerOwner" id="offerOwner" /></td>
            <td><label for="offerContact">Offer contact:</label></td>
            <td><input type="text" name="offerContact" id="offerContact" /></td>
        </tr>
        <tr>
            <td colspan="4"><div id="offerNotes" name="offerNotes"></div></td>
        </tr>
    </table>
</form>