<script type="text/javascript" src="./modules/ordermgmt/js/dojo/dojo.js" data-dojo-config="parseOnLoad: true, isDebug: true"></script>
<div id="offerContainer">
    <div id="offerDetails">
        <h2>Offer title</h2>
        <div id="offeringCompanyDetails">
            Company details of the company giving the offer
        </div>
        <div id="receivingCompany">
            Company details of the company receiving the offer
        </div>
        <div id="offerSummary">
            <strong>Offer owner:</strong> <a href="mailto:korkonius@gmail.com">Eirik E. Ottesen</a>
            <strong>Company contact:</strong> <a href="mailto:office@rs-systems.no">Norvald Muren</a>
            <hr />
            <ul id="offerHistory">
                <li>Created 24/7-2012</li>
            </ul>
        </div>
    </div>
    <div id="offerModuleListContainer">
        <ul id="offerList">
            <li>Example offer</li>
        </ul>
    </div>
    <div id="offerComponentListContainer">
        <ul id="offerComponentList">
            <li>2x CB08996-598 Test-component</li>
        </ul>
    </div>
</div>