<style type="text/css">
    table.orderlist {
        width: 100%;
    }
    table.orderlist td {
        background-color: transparent;
    }
    table.orderlist tr {
        cursor: pointer;
        border-bottom: 1px #DDD solid;
        background-color: white;
    }
    table.orderlist tr:hover {
        background-color: #ccc;
    }
    table.orderlist {
        border: 0px;
        border-collapse: collapse;
    }
</style>
<table class="tbl orderlist">
    <thead>
        <tr><th colspan="6">Order List</th></tr>
    </thead>
    <tbody>
        [order;sub1=(deliveries);block=begin]
        <tr id="orderId_[order.id;]" onclick="window.location = '?m=ordermgmt&order_id=[order.id]'">
            <td style="width: 16px; padding: 2px 12px 2px 12px; border-right: 1px #AAA solid"><img src="[order.latestStatus.iconPath]" alt="[order.latestStatus.statusName]"/></td>
            <td style="width: 15em"><strong>Status: </strong>[order.latestStatus.statusName]</td>
            <td style="width: 8em"><strong>Id: </strong>[order.getFormattedId]</td>
            <td><strong>Company:&nbsp;&nbsp;&nbsp;&nbsp;</strong>[order.company.company_name]</td>
            <td><strong>Project:&nbsp;&nbsp;&nbsp;&nbsp;</strong>[order.project.project_name]</td>
            <td><strong>Price:&nbsp;&nbsp;&nbsp;&nbsp;</strong>[order.getOrderTotal; frm='0,000.00'] [order.currency]</td>
        </tr>
        <tr id="orderDeliveryId_[order.id]">
            <td style="width: 16px; padding: 2px 12px 2px 12px; border-right: 0px #AAA solid"></td>
            <td colspan="5">
                &nbsp;<img src="[deliveryIcon]" alt="Delivery status"/> ::
                Expected delivery between [order_sub1.delivery_start_date;block=tr] and [order_sub1.delivery_end_date;block=tr]
            </td>
        </tr>
        [order;block=end]
    </tbody>
</table>
