<style type="text/css">
    .ordermgmt_buttonbar, #orderCreated {
        float: right;
    }
    .orderButtonPane {
        margin: 1em 0;
    }
    h1.orderHeader {
        text-align: center;
        padding: 5px 0 5px 0;
        margin: 5px 0 5px 0;
    }
    table.order_details tr {
        height: 2em;
    }
    table.order_details td {
        padding: 6px 2em;
    }
    .component_total {
        float: right;
    }
    .componentButtonPane {
        float: left;
        margin: 0px 2em 0px 6px;
    }
    .order_details {
        clear: both;
    }
</style>
<a class="button" href="?m=ordermgmt"><span>Back to Order List</span></a>
<form action="?m=ordermgmt&order_id=[order.id]" method="POST" accept-charset="utf-8">
    <span colspan="2" align="right" class="ordermgmt_buttonbar">
        <!--<input class="button" type="button" id="topdfButton" name="topdfButton" value="Create PDF" />
        <input class="button" type="button" id="componentButton" name="componentButton" value="New Component" />
        <input class="button" type="button" id="deleteButton" name="deleteButton" value="Delete" />-->
    </span>
    <table class="tbl order_details" width="100%" border="0" cellpadding="0" cellspacing="1">
        <tr>
            <td colspan="6">
                <span id="orderCreated"></span>
                <h1 class="orderHeader">[order.getFormattedId] :: [order.created;block=td]</h1>
                [order.notes;block=td]
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <strong>Company:</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                <strong><a href="?m=companies&a=view&company_id=[order.company.company_id]">[order.company.company_name; block=a]</a></strong>
                <a href="mailto:[order.company.company_email]">
                    <img src="./modules/ordermgmt/images/email_go.png" alt="Send E-mail" title="Send E-mail"/>
                </a>
            </td>
            <td colspan="2">
                <strong>Creator:</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                <strong><a href="?m=contacts&a=view&contact_id=[order.ownerId]">[order.ownerName; block=a]</a></strong>
                <a href="mailto:[order.owner.contact_email]">
                    <img src="./modules/ordermgmt/images/email_go.png" alt="Send E-mail" title="Send E-mail"/>
                </a>
            </td>
            <td colspan="2"><strong>Project:</strong>&nbsp;&nbsp;&nbsp;&nbsp;<strong><a href="?m=projects&a=view&project_id=[order.project.project_id]">[order.project.project_name; block=a]</a></strong></td>
        </tr>
        <tr>
            <th colspan="6">
                Components in order
                <span class="orderButtonPane">
                    <a href="?m=ordermgmt&componentForm=[order.id;magnet=a;]">[order.canEdit; magnet=a; ope=mok:1]<img src="./modules/ordermgmt/images/table_add.png" alt="Add Components" title="Add Components"/></a>
                </span>
            </th>
        </tr>
        <tr class="orderComponent">
            <td colspan="6">
                <div class="componentButtonPane">
                    <a href="?m=ordermgmt&order_id=[order.id]&removeComponent=[component.id; block=tr]">
                        [order.canEdit; magnet=a; ope=mok:1]
                        <img src="./modules/ordermgmt/images/delete.png" alt="Delete" title="Delete component # [component.id; block=tr]"/>
                    </a>
                </div>
                [component.amount; block=tr]x [component.description; block=tr] ([component.price; block=tr] kr)
                <span class="component_total">Total: [component.total; block=tr]kr</span>
            </td>
        </tr>
        <tr><td colspan="6"><strong class="component_total">Total: [order.getOrderTotal] kr</strong></td></tr>
        <tr>
            <th colspan="6">
                Attached files
                <span class="orderButtonPane">
                    <a href="?m=ordermgmt&fileAddForm=[order.id;magnet=a;]">[order.canEdit; magnet=a; ope=mok:1]<img src="./modules/ordermgmt/images/page_add.png" alt="Add new file" title="Add new file"/></a>
                    <!--<a href="?m=ordermgmt&fileAttachForm=[order.id;magnet=a;]">[order.canEdit; magnet=a; ope=mok:1]<img src="./modules/ordermgmt/images/page_link.png" alt="Attach file" title="Attach file"/></a>-->
                </span>
            </th>
        </tr>
        <tr><td>Filename: <a href="fileviewer.php?file_id=[file.file_id]">[file.file_name; block=tr]</a></td><td colspan="5">Description: [file.file_description; block=tr]</td></tr>
        <tr>
            <th colspan="6">
                Order History
            </th>
        </tr>
        <tr>
            <td colspan="6">[history.created; block=tr] :: <strong>&#91;[history.statusName; block=tr]&#93;</strong> :: [history.comments; block=tr], <a href="?m=contacts&a=view&contact_id=[order.ownerId]">[history.creatorName; block=tr]</a></td>
        </tr>
        <tr>
            [order.canEdit; magnet=tr; ope=mok:1]
            <th colspan="6">Update Order</th>
        </tr>
        <tr>
            [order.canEdit; magnet=tr; ope=mok:1]
            <td colspan="6" class>
                <label for="statusCombo">Requisition status</label>
                <select id="statusCombo" name="statusCombo">
                    <option value="[status.order_status_info_id;block=option]">[status.status_title;block=option]</option>
                </select><hr />
                <label for="orderComment">Comment:</label><br />
                <div id="textwrapper"><textarea id="orderComment" name="orderComment" placeholder="Write a comment on the requisition here" style="width: 100%"></textarea></div>
                <input class="button" type="submit" name="status_submit" id="orderSubmit" value="Update Order" style="float: right;" />
            </td>
        </tr>
    </table>
</form>