<script type="text/javascript" src="./modules/ordermgmt/js/dojo/dojo.js" data-dojo-config="parseOnLoad: true, isDebug: true"></script>
<style type="text/css">
    div#orderFormContainer {
        margin: 0 auto;
        text-align: center;
        width: 80%;
        padding: 1em;
        background: whitesmoke;
        border-radius: 5px;
    }
    form#orderForm {
        width: 100%;
    }
    #defaultComponentSelect {
        width: 512px;
    }
    form#orderForm label{
        font-weight: bold;
        padding: 3px 0em 3px 2em;
    }
    input.componentAmount, input.componentPrice {
        width: 4em;
    }
    input.componentLabel {
        width: 50em;
    }
    #componentFormList {
        text-align: left;
    }
    .componentItems {
        float:left;
    }
    input.button{
        margin: 6px;
    }
    button {
        font-size: 8pt;
        font-family: arial, helvetica, sans-serif;
        font-weight: bold;
        color: #333;
        width: 151px;
        height: 21px;
        background: transparent url('style/web2project/images/button.gif') no-repeat;
        border-style: none;
        line-height: 14px;
        padding: 2px 0 5px 0px;
    }
    button img {
        padding: 0 7px 0 0;
    }
    #companySelect {
        margin: 0 10em 0 0;
    }
    #newComponentBtn, #orderSubmit {
        float: right;
    }
    hr {
        clear: both;
    }
</style>
<link rel="stylesheet" type="text/css" href="modules/ordermgmt/chosen.css" />
<script type="text/javascript">

    // Fetch dependencies and init select list
    var select;
    require(['dojo/ready', 'dojo/dom', 'dojo/store/Memory', "dojo/data/ObjectStore", "dojo/_base/xhr", 'dijit/form/FilteringSelect'],
    function(ready, dom, Memory, ObjectStore, xhr, FilteringSelect) {
        xhr.get({
            url: "?m=ordermgmt&a=cedit&op=getfilterlist&suppressHeaders=true",
            handleAs: "json"
        }).then(function(data) {

            store = new ObjectStore({objectStore: new Memory({data: data.items})});
            select = new FilteringSelect({
                id: "defaultComponentSelect",
                name: "defaultComponentSelect",
                queryExpr: "*${0}*",
                autoComplete: false,
                "store": store,
                searchAttr: "list_name",
                labelAttr: "list_display",
                labelType: "html",
                onChange: function(item) {

                    // Fetch item data
                    var string = this.item.list_short;
                    var price  = this.item.price;

                    // Create new set of nodes
                    var container  = dojo.create('div', {class: "componentFormLine"});
                    var amountNode = dojo.create('input', {class: "componentAmount", type: "text", name: "componentAmount[]", value: "1"}, container);
                    var priceNode  = dojo.create('input', {class: "componentPrice", type: "text", name: "componentPrice[]", value: price}, container);
                    var nameNode   = dojo.create('input', {class: "componentLabel", type: "text", name: "componentLabel[]", value: string}, container);

                    // Insert into DOM
                    dojo.place(container, dojo.byId("componentFormList"), "first");
                    select.set('value', '');
                }
            }, dom.byId("defaultComponentSelect"));
        });
    });
</script>
<div id="orderFormContainer">
    <form id="orderForm" action="?m=ordermgmt" method="POST" accept-charset="utf-8" enctype="multipart/form-data">
        <h1>New order :: [nextidf]</h1>
        <hr />
        <label for="companySelect">Company:</label>
        <select name="companySelect" id="companySelect">
            <option value="[company.company_id;block=option]">[company.company_name;block=option]</option>
        </select>
        <label for="projectSelect">Project:</label>
        <select name="projectSelect" id="projectSelect">
            <option value="[project.project_id;block=option]">[project.project_name;block=option]</option>
        </select>
        <hr />
        <h2>Order Components</h2>
        <div id="componentFormList">
            <div class="componentFormLine">
                <input class="componentAmount" type="text" name="componentAmount[]" placeholder="Amount"/>
                <input class="componentPrice" type="text" name="componentPrice[]" placeholder="Price"/>
                <input class="componentLabel" type="text" name="componentLabel[]" placeholder="Description"/>
            </div>
            <select id="defaultComponentSelect" name="defaultComponents" style="width: 600px">
            </select>
            <button type="button" name="newComponentBtn" id="newComponentBtn"><img src="./modules/ordermgmt/images/new.png" alt="New Component" />New Component</button>
        </div>
        <hr />
        
        <h2>Notes (Optional)</h2>
        <div id="textwrapper">
            <textarea id="orderNotes" name="orderNotes" placeholder="Write any notes about the order here" style="width: 100%"></textarea>
        </div>
        <hr />
        
        <h2>Attach a file (Optional)</h2>
        <label for="file_folder">Folder: </label>
        <select name="file_folder" id="file_folder">
            <option value="0">root</option>
            <option value="[folders.file_folder_id;block=option]">[folders.file_folder_name;block=option]</option>
        </select>
        
        <label for="file_version">Version: </label>
        <input type="number" name="file_version" id="file_version" value="1"/>
        
        <label for="file_category">Category: </label>
        <select name="file_category" id="file_category">
            <option value="[categories.key;block=option]">[categories.val;block=option]</option>
        </select>
        
        <label for="file_description">Description: </label>
        <input type="text" name="file_description" id="file_description" />      
      
        <label for="file">File: </label>
        <input name="file" id="file" type="file" />
        
        <hr />
        
        <input type="hidden" name="order_id" value="[nextid]" />
        <button type="submit" name="orderSubmit" id="orderSubmit" value="orderSubmit"/><img src="./modules/ordermgmt/images/accept.png" alt="Create Order" />Create Order</button>
        <hr style="visibility: hidden"/>
    </form>
</div>