[order;sub1=(deliveries);block=begin]
<tr id="orderId_[order.id;]" class="order_clickable">
    <td style="width: 16px; padding: 2px 12px 2px 12px; border-right: 1px #AAA solid"><a href="?m=ordermgmt&order_id=[order.id]">
        <img src="[order.latestStatus.iconPath]" alt="[order.latestStatus.statusName]"/>
    </a></td>
    <td style="width: 15em"><strong>Status: </strong>[order.latestStatus.statusName]</td>
    <td style="width: 8em"><strong>Id: </strong><a href="?m=ordermgmt&order_id=[order.id]">
        [order.getFormattedId]
    </a></td>
    <td><strong>Company:&nbsp;&nbsp;&nbsp;&nbsp;</strong><a href="?m=companies&a=view&company_id=[order.company.company_id]">[order.company.company_name]</a></td>
    <td><strong>Project:&nbsp;&nbsp;&nbsp;&nbsp;</strong><a href="?m=projects&a=view&project_id=[order.project.project_id]">[order.project.project_name]</a></td>
    <td><strong>Price:&nbsp;&nbsp;&nbsp;&nbsp;</strong>[order.getOrderTotal; frm='0,000.00'] [order.currency]
    </td>
</tr>
<tr id="orderDeliveryId_[order.id]" class="order_delivery">
    <td style="width: 16px; padding: 2px 12px 2px 12px; border-right: 0px #AAA solid"></td>
    <td colspan="5">
        &nbsp;<img src="[deliveryIcon]" alt="Delivery status"/> ::
        Expected delivery between [order_sub1.delivery_start_date;block=tr;frm='dd/mm/yyyy';when
        [order_sub1.hasArrived]!=1] and [order_sub1.delivery_end_date;block=tr;frm='dd/mm/yyyy']
        <strong class="warning">[order_sub1.isOverdue;magnet=strong;if [val]=1; then 'Overdue!']</strong>
        <a href="?m=ordermgmt&deliveryRecieved=[order_sub1.delivery_id]" style="padding-left: 1em"><img
                src="[recievedIcon]" alt="Delivery received" title="Delivery received!"/></a>
    </td>
</tr>
[order;block=end]
