<style type="text/css">
    @import url('./modules/ordermgmt/lib/smartpaginator/smartpaginator.css');

    table.orderlist {
        width: 100%;
    }

    table.orderlist td {
        background-color: transparent;
    }

    table.orderlist tr {
        cursor: auto;
        border-bottom: 1px #DDD solid;
        background-color: white;
    }

    table.orderlist tr.order_clickable {
        cursor: pointer;
    }

    table.orderlist tr.order_delivery {
        background-color: #e0ffff;
    }

    table.orderlist tr:hover {
        background-color: #ccc;
    }

    table.orderlist {
        border: 0px;
        border-collapse: collapse;
    }

    .green {
        background-color: white;
    }

    .green.normal {
        background-color: #70A5CC;
        border: solid 1px white;
    }

    .green.active {
        background-color: blue;
        border: solid 1px white;
    }

    .pager.green .btn {
        background-color: #70A5CC;
        border: solid 1px white;
    }
    #load_dialog {
        background-color: #e0ffff;
        color: red;
        box-shadow: 2px 2px 2px 2px black;
        border-radius: 3px;
        font-size: large;
        font-weight: bold;
        padding: 0.5em 3em;
    }
</style>
<script type="text/javascript" src="./modules/ordermgmt/lib/smartpaginator/smartpaginator.js"></script>
<script type="text/javascript" src="./modules/ordermgmt/js/jquery.tools.min.js"></script>
<div id="load_dialog">
    Loading next page...
</div>
<form id="filter" method="GET" action="?m=ordermgmt">
    <fieldset>
        <legend>Filter for Order list:</legend>
        <select name="order_filter" id="order_filter">
            <option value="[filters.$; block=option]">[filters.val; block=option]</option>
        </select>
    </fieldset>
</form>
<form id="pagination_info" method="POST" action="?m=ordermgmt">
    <input hidden="hidden" name="pagination_total_records" id="pagination_total_records" value="[pagination_total]" />
    <input hidden="hidden" name="pagination_records_per_page" id="pagination_records_per_page" value="[pagination_page]" />
    <input hidden="hidden" name="pagination_initial_page" id="pagination_initial_page" value="[pagination_init]" />
    <input hidden="hidden" name="pagination_filter" id="pagination_filter" value="[pagination_filter]" />
</form>
<table id="ordertable" class="tbl orderlist">
    <thead>
    <tr>
        <th colspan="6">Order List</th>
    </tr>
    </thead>
    <tbody>
        [onload;file=order_list_core.html;getbody]
    </tbody>
    <tfoot>
    <tr>
        <td colspan="6">
            <div id="orderTblContainer" class="paginate"></div>
        </td>
    </tr>
    </tfoot>
</table>