<style>
    table#quoteTable {
        border: 2px solid #001C4D;
    }
    table#quoteTable tr.tblHeader {
        background-color: #405780;
        color: #FFC680;
    }
    table#quoteTable tr.even {
        background-color: #CCC;
    }
    table#quoteTable tr.odd {
        background-color: #FFF;
    }
    table#quoteTable th, table#quoteTable td {
        padding: 8px 8px 8px 8px;
    }
    .description {
        width: 85%;
    }
    .amount {
        width: 15%;
    }
    #buissnessInfo {
        width: 45%;
        float: left;
    }
    table#contactTable tr.tblHeader {
        font-weight: bold;
        color: #001C4D;
        text-align: left;
    }
    #companyInfo {
        border: 1px solid black;
    }
    hr {
        width: 75%;
        height: 2px;
    }
</style>
<table id="contactTable">
    <tr class="tblHeader">
        <th>Company information</th>
        <th>Contact person</th>
    </tr>
    <tr>
        <td id="companyInfo"><strong>[sender.company_name]</strong><br />
            [sender.company_address1]<br />
            [sender.company_address2;magnet=br;mtype=m*]<br />
            [sender.company_zip] [sender.company_state]<br />
            [senderFullCountry]<br />
            <hr />
            Phone: [sender.company_phone1]<br />
            Fax: [sender.company_fax]<br />
            Email: <a href="mailto: [sender.company_email]">[sender.company_email]</a><br />
        </td>
        <td id="contactInfo">[person.contact_first_name] [person.contact_last_name] (<a href="mailto: [person.contact_email]">[person.contact_email]</a>)<br />
            <sup><em>[person.contact_job]</em></sup><br />
            Phone: [person.contact_phone]<br />
        </td>
    </tr>
</table>
