<style>
    table#quoteTable {
        border: 2px solid #001C4D;
    }
    table#quoteTable tr.tblHeader {
        background-color: #405780;
        color: #FFC680;
    }
    table#quoteTable tr.even {
        background-color: #CCC;
    }
    table#quoteTable tr.odd {
        background-color: #FFF;
    }
    table#quoteTable th, table#quoteTable td {
        padding: 8px 8px 8px 8px;
    }
    .description {
        width: 85%;
    }
    .amount {
        width: 15%;
    }
    #buissnessInfo {
        width: 45%;
        float: left;
    }
    #contactTitle {
        font-size: x-small;
        font-style: italic;
    }

    table#contactTable tr.tblHeader {
        font-weight: bold;
        color: #001C4D;
    }

    #companyInfo {
        border: 1px solid black;
    }
    hr {
        width: 75%;
        height: 2px;
    }
    hr.full {
        width: 100%;
    }
    .borderLeft {
        border-left: 1px solid #001C4D;
    }
    .borderBottom {
        border-bottom: 1px solid #001C4D;
    }
    .textCenter {
        text-align: center;
    }
</style>
<h3>Quote request</h3>
<table id="quoteTable">
    <tr class="tblHeader">
        <th class="description borderBottom">Item</th>
        <th class="amount borderLeft borderBottom textCenter">Qnty.</th>
    </tr>
    <tr class="odd">
        <td class="description">[components.description;block=tr]</td>
        <td class="amount borderLeft textCenter">[components.amount;block=tr]</td>
    </tr>
    <tr class="even">
        <td class="description">[components.description;block=tr]</td>
        <td class="amount borderLeft textCenter">[components.amount;block=tr]</td>
    </tr>
</table>
<p>
    <h3>Notes</h3>
    [order.notes; magnet=p]
</p>
